body{
    background-color: #c0c4c9;
}
.signup-container {
    max-width: 400px;
    margin: 80px auto;
    padding: 40px 30px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  }
  
  .signup-title {
    text-align: center;
    margin-bottom: 25px;
  }
  
  .signup-title h2 {
    font-size: 28px;
    font-weight: bold;
    color: #333;
  }
  
  .signup-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .form-group label {
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 14px;
    color: #555;
  }
  
  .form-group input {
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    outline: none;
    transition: border-color 0.3s;
  }
  
  .form-group input:focus {
    border-color: #007bff;
  }
  
  .signup-form button {
    padding: 12px;
    background-color: #0f863c;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;

    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto 0;
  }
  
  .signup-form button:hover {
    background-color: #0056b3;
  }

  .Login{
    text-align: center;
    margin-top: 20px;
  }