.carousel-container {
    padding-top: 80px;
    position: relative;
    width: 100vw;
    height: auto;
    overflow: hidden;
  }
  
  .nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-150%);
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent */
    border: none;
    border-radius: 50%;
    color: white;
    font-size: 20px;
    padding: 20px;
    cursor: pointer;
    z-index: 10;
    transition: background-color 0.3s ease;
  }
  
  .nav-button:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  .left {
    left: 30px;
  }
  
  .right {
    right: 30px;
  }
  