

a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}


nav {
    position: fixed; 
    top: 0;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
    z-index: 1000;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 10px 20px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo h1 a {
    color: red; 
    font-size: 24px;
    font-weight: bold;
}


li {
    margin-left: 20px;
}


ul li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px 40px;
    text-decoration: none;
}




ul li a:hover {
    background-color: #9e1f1f;
    color:#fff;
    transition: 0.5s ease-out;
    border-radius: 8px;
}
.logout{
    background-color: #9e1f1f;
    border-radius: 8px;
   
}

ul li a.active {
    color: red;
    font-weight: bold;
    border-bottom: 2px solid red;
}
